@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", serif;
}

header {
  position: relative;
  align-items: center;
  width: 100vh;
  height: 125px;
}

header img {
  width: 170px;
  position: relative;
  /* top: 5px; */
  left: 150px;
  bottom: 20px;
}

header ul {
  list-style: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: #666666;
  margin: 20px;
  position: relative;
  left: 950px;
  bottom: 115px;
}

a:hover {
  color: #ffc0cb;
}

hr {
  border-color: #ffc0cb;
}

.proba {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

.forma h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc0cb;
  margin-top: 40px;
}

.forma {
  background-color: #f5889a;
  width: 500px;
  height: 950px;
  border-radius: 20px;
}

.forma2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.forma2 p {
  font-size: larger;
}

input {
  width: 400px;
  border: none;
  height: 50px;
  border-radius: 20px;
  padding: 14px;
}

button {
  height: 40px;
  width: 350px;
  border-radius: 20px;
  border: none;
  background-color: pink;
  color: #666666;
  font-weight: 600;
}

button:hover {
  color: #ffc0cb;
  background-color: #666666;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 30px;
}

footer img {
  height: 150px;
}

.hours p {
  padding-top: 8px;
}

.onama {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drustvene a {
  text-decoration: none;
  color: #666666;
}

.drustvene a:hover {
  color: #ffc0cb;
}

.fa-solid {
  color: #ffc0cb;
}

.fa-brands {
  color: #ffc0cb;
}

span {
  color: #ffc0cb;
}
