@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  align-items: center;
  width: 100vh;
  height: 125px;
}

header img {
  width: 170px;
  position: relative;
  /* top: 5px; */
  left: 150px;
  bottom: 20px;
}

header ul {
  list-style: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: #666666;
  margin: 20px;
  position: relative;
  left: 950px;
  bottom: 115px;
}

a:hover {
  color: #ffc0cb;
}

hr {
  border-color: #ffc0cb;
}

h1 {
  font-family: "Instrument Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.cenovnik {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.cenovnik span {
  color: #4d4d4d;
}

.cenovnik h3 {
  color: #ec7b8e;
}

.cenovnik h3:hover {
  color: #4d4d4d;
}

h1:hover {
  color: #ec7b8e;
}
