@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", serif;
}

header {
  position: relative;
  align-items: center;
  width: 100vh;
  height: 125px;
}

header img {
  width: 170px;
  position: relative;
  left: 150px;
  bottom: 20px;
}

header ul {
  list-style: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: #666666;
  margin: 20px;
  position: relative;
  left: 950px;
  bottom: 115px;
}

a:hover {
  color: #ffc0cb;
}

hr {
  border-color: #ffc0cb;
}

.naslov h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  color: #ffc0cb;
}

.mesto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.mesto2 {
  width: 500px;
  font-size: x-large;
}

.mesto img {
  width: 700px;
  height: 350px;
  border-radius: 20px;
  margin-top: 90px;
}

.naslov2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  color: #ffc0cb;
}

.mapa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.mapa p {
  font-size: x-large;
}

.naslov3 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  color: #ffc0cb;
}

.ja img {
  width: 600px;
  height: 650px;
}

.ja {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 60px; */
  margin-bottom: 60px;
}

.paragraf2 {
  width: 600px;
  font-size: x-large;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 30px;
}

footer img {
  height: 150px;
}

.hours p {
  padding-top: 8px;
}

.drustvene a {
  text-decoration: none;
  color: #666666;
}

.onama {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drustvene a:hover {
  color: #ffc0cb;
}

.fa-solid {
  color: #ffc0cb;
}

.fa-brands {
  color: #ffc0cb;
}

span {
  color: #ffc0cb;
}

.boja {
  color: #bd2f46;
}
