@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", serif;
}

header {
  position: relative;
  align-items: center;
  width: 100vh;
  height: 125px;
}

header img {
  width: 170px;
  position: relative;
  /* top: 5px; */
  left: 150px;
  bottom: 20px;
}

header ul {
  list-style: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: #666666;
  margin: 20px;
  position: relative;
  left: 950px;
  bottom: 115px;
}

a:hover {
  color: #ffc0cb;
}

hr {
  border-color: #ffc0cb;
}

.slogan {
  /* background-color: #b7b5b5; */
  display: flex;
  justify-content: space-around;
  height: 700px;
}

.slogan h1 {
  font-family: "Instrument Serif", serif;
  margin-top: 280px;
}

span {
  color: pink;
}

.slogan img {
  margin-top: 120px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 120px;
}

.slogan button {
  height: 40px;
  width: 130px;
  margin-left: 217px;
  border-radius: 20px;
  border: none;
  background-color: pink;
  color: #666666;
  font-weight: 600;
}

.slogan button:hover {
  color: #ffc0cb;
  background-color: #666666;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 30px;
}

footer img {
  height: 150px;
}

.onama {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hours p {
  padding-top: 8px;
}

.drustvene a {
  text-decoration: none;
  color: #666666;
}

.drustvene a:hover {
  color: #ffc0cb;
}

.fa-solid {
  color: #ffc0cb;
}

.fa-brands {
  color: #ffc0cb;
}
